<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <span class="brand">
          Timeline
        </span>
        <ul class="nav">
          <li class="active">
            <a href="#">首页</a>
          </li>
          <li><a href="#">时光轴</a></li>
          <li><a href="#">品牌空间</a></li>          
        </ul>        
    </div>
  </div>
</div>